# Xcode
# =========================
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
*.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# Swift Package Manager
# =========================
.build/
.swiftpm/xcode/package.xcworkspace/xcuserdata/
.swiftpm/xcode/xcuserdata/

# Environment Configurations (Secrets / API Keys)
# ===============================================
Configs/*.xcconfig
!Configs/*.example.xcconfig

# OS / Miscellaneous
# =========================
.DS_Store
*.swp
*.lock
