<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIBaseURL</key>
	<string>$(API_BASE_URL)</string>
	<key>APITimeout</key>
	<string>$(API_TIMEOUT)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.103397892990-vshlns6uf7mljludjq0gr62rdad1oe51</string>
			</array>
		</dict>
	</array>
	<key>DebugMenuEnabled</key>
	<string>$(DEBUG_MENU_ENABLED)</string>
	<key>EnableMockLocation</key>
	<string>$(ENABLE_MOCK_LOCATION)</string>
	<key>GIDClientID</key>
	<string>$(GID_CLIENTID)</string>
	<key>GIDWebID</key>
	<string>$(GID_WEBID)</string>
	<key>LogLevel</key>
	<string>$(LOG_LEVEL)</string>
	<key>MapVinaAPIKey</key>
	<string>$(MAPVINA_API_KEY)</string>
	<key>MapVinaStyleURL</key>
	<string>$(MAPVINA_STYLE_URL)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>SocketURL</key>
	<string>$(SOCKET_URL)</string>
</dict>
</plist>
